/* sticker footer styles
-------------------------------------------------- */


.footer  {
  position: fixed; 
  width: 100%;
  background-color: lightgray;
  float: left;
  bottom: 0px;
}

span.right{
	float: right;
	margin-right: 10px;
}

/* Custom page CSS */

.navbar-custom { background-color: #0080c0!important; }


.container {
  padding: 10px;
  margin-top: 20px;
  height: 87%;
}


/* validation section   */
.validation{
	position: fixed;
	right: 10px;
	bottom: 35px;
	opacity: 0.5;
}

.vertical{
	border-left: 1px solid white;
	padding-top: 0;
	padding-bottom: 0;
}

img.floatright{
	float: right;
}

p.linebreak{
	border-bottom: 1px solid lightgray;
	padding-bottom: 15px;
}

p.errormessage {
	color: red;
}
